HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/src/main/resources/application.properties
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
